@font-face {
  font-family: 'K24KurdishBold-Bold';
  src: url('K24KurdishBold-Bold.woff') format('woff2');
}

@font-face {
  font-family: 'quran';
  src: url('quran.ttf') format('truetype');
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'K24KurdishBold-Bold';
  direction: rtl;
}

body {
  background: linear-gradient(to right, #f0f4f8, #e9eef3);
  color: #222;
  padding: 2rem;
  line-height: 1.6;
}
font{
	font-family: 'quran';
	font-size: 20px;
}strong{
	font-family: 'quran';
	font-size: 20px;
}
a {
  font-size: 18px;
  display: inline-block;
  margin: 10px 15px;
  text-decoration: none;
  color: #007bff;
  transition: color 0.2s ease-in-out;
}

a:hover {
  color: #0056b3;
}

h1, h2, h3 {
  color: #333;
  margin-bottom: 1rem;
}

.hadith-box {
  background: #ffffff;
  padding: 20px;
  margin: 20px auto;
  border-left: 6px solid #4CAF50;
  border-radius: 15px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.08);
  max-width: 800px;
  transition: transform 0.2s ease;
}

.hadith-box:hover {
  transform: scale(1.01);
}

font {
  font-family: 'quran', serif;
}

select, input[type="number"] {
  padding: 10px 12px;
  font-family: 'quran', serif;
  font-size: 16px;
  margin: 10px 5px 20px 0;
  border: 1px solid #ccc;
  border-radius: 8px;
  transition: border-color 0.3s;
  background: #fff;
  width: 200px;
}

select:focus, input:focus {
  border-color: #4CAF50;
  outline: none;
  
}

button {
  padding: 10px 20px;
  background-color: #4CAF50;
  color: white;
  font-size: 16px;
  border: none;
	font-family: 'K24KurdishBold-Bold';
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.1s;
}

button:hover {
  background-color: #45a049;
  transform: scale(1.03);
}

#result {
  margin-top: 30px;
  background-color: #ffffff;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 2px 10px rgba(0,0,0,0.1);
  max-width: 800px;
}
option {
	font-family: 'quran', serif;
}

audio {
  margin-top: 15px;
  width: 100%;
}

/* Responsive */
@media (max-width: 768px) {
  body {
    padding: 1rem;
  }

  .hadith-box, #result {
    padding: 15px;
  }
 
  select, input, button {
    width: 100%;
	font-family: 'quran', serif;
    margin-bottom: 10px;
  }
}
